# üêç Machine Learning Project Script

In [2]:
import pandas as pd

## 1. Prepare data

In [13]:
df_train = pd.read_csv("train.csv", sep=',')

In [12]:
df_train

,language,sentence,n,edgelist,root
0,Japanese,2,23,"[(6, 4), (2, 6), (2, 23), (20, 2), (15, 20), (...",10
1,Japanese,5,18,"[(8, 9), (14, 8), (4, 14), (5, 4), (1, 2), (6,...",10
2,Japanese,8,33,"[(2, 10), (2, 14), (4, 2), (16, 4), (6, 16), (...",3
3,Japanese,11,30,"[(30, 1), (14, 24), (21, 14), (3, 21), (7, 3),...",30
4,Japanese,12,19,"[(19, 13), (16, 19), (2, 16), (4, 10), (4, 15)...",11
...,...,...,...,...,...
10495,Russian,989,14,"[(14, 6), (14, 5), (14, 2), (2, 4), (2, 8), (7...",14
10496,Russian,990,35,"[(21, 6), (16, 28), (6, 16), (21, 7), (21, 5),...",21
10497,Russian,992,15,"[(4, 11), (7, 4), (7, 9), (9, 14), (14, 3), (7...",7
10498,Russian,994,37,"[(6, 25), (11, 6), (5, 22), (5, 35), (6, 5), (...",11
10499,Russian,995,19,"[(8, 18), (13, 8), (7, 2), (8, 7), (7, 9), (15...",13